<nav class="bg-white sticky top-0 p-4">
    <div class="container mx-auto">
        <a href="/">
            <img src="/images/procot-inline-logo.png" alt="Procot Logo" width="150">
        </a>
    </div>
</nav>