
<% 

%> 

PROCOT, is a student-run programming club at the University College of Technology. The club aims to provide a community for students interested in computer programming and technology to come together and learn from one another. They organize events such as coding workshops, guest speaker sessions, and hackathons to help members develop their skills and learn about the latest advancements in technology. PROCOT also participates in various programming competitions to showcase their members' abilities and to represent the university. The club welcomes students of all levels, from beginners to advanced programmers, to join and become a part of their community.

<div class="
text-center relative overflow-hidden bg-no-repeat bg-cover rounded-lg"
  style="background: gray; height: 400px;">
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="flex justify-center items-center h-full">
      <div class="text-white">
        <h2 class="font-semibold text-4xl mb-4">Programming Club of College of Technology</h2>
        <h4 class="font-semibold text-xl mb-6">Request to be a member of PROCOT</h4>
        <a href="#" type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">
            Join Procot
        </a>
      </div>
    </div>
  </div>
</div>