<div>
    <div class="sticky text-xl py-1 mb-3 border-b border-blue-200 dark:border-gray-500 font-medium text-gray-500 dark:text-white ">
        Search Lab Questions!
    </div>
    <form action="/" method="GET" class="sticky w-full z-10 top-20 left-0">
        <label for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <i class="fa fa-search text-gray-300"></i>
            </div>
            <input type="search" id="default-search"
                class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search Code Solutions..." required>
            <button type="submit"
                class="text-white absolute right-2.5 bottom-2.5 bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
    </form>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur molestiae minus vitae mollitia harum. Perspiciatis voluptatum architecto ipsa fugit quasi maxime necessitatibus exercitationem. Itaque, officiis hic. Iusto, quia excepturi.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur molestiae minus vitae mollitia harum. Perspiciatis voluptatum architecto ipsa fugit quasi maxime necessitatibus exercitationem. Itaque, officiis hic. Iusto, quia excepturi.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur molestiae minus vitae mollitia harum. Perspiciatis voluptatum architecto ipsa fugit quasi maxime necessitatibus exercitationem. Itaque, officiis hic. Iusto, quia excepturi.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur molestiae minus vitae mollitia harum. Perspiciatis voluptatum architecto ipsa fugit quasi maxime necessitatibus exercitationem. Itaque, officiis hic. Iusto, quia excepturi.
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur molestiae minus vitae mollitia harum. Perspiciatis voluptatum architecto ipsa fugit quasi maxime necessitatibus exercitationem. Itaque, officiis hic. Iusto, quia excepturi.
    <br>



</div>